@using BookstoreManagement.Client.Pages
@using BookstoreManagement.Client.Models

<h3>AuthorTable</h3>

<table class="table table-striped">
    <thead>
    <tr>Full name</tr>
    <tr>Date of birth</tr>
    <tr>Place of birth</tr>
    <tr>Country</tr>
    <tr>Contact type</tr>
    <tr>Contact</tr>
    </thead>
    <tbody>
    @foreach (var author in Authors)
    {
        <tr>
            <td>@author.AuthorFullName</td>
        </tr>
        <tr>
            <td>@author.AuthorDateOfBirth</td>
        </tr>
        <tr>
            <td>@author.AuthorPlaceOfBirth</td>
        </tr>
        <tr>
            <td>@author.HomeCountry</td>
        </tr>
        <tr>
            <td>@author.AuthorContactType</td>
        </tr>
        <tr>
            <td>@author.Contact</td>
        </tr>
    }
    </tbody>
</table>

@code {

    [Parameter]
    public List<AuthorDto> Authors { get; set; } = new List<AuthorDto>();

}
